
/***************************************************
About Us Page Template
***************************************************/
.intro-glion {
    margin-top: -150px;
    position: relative;
}
.intro-glion.remove {
    margin-top: 0px;
    position: relative;
}
.intro-glion {
    margin-top: -150px;
    position: relative;
}
.intro-glion h1 {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.intro-glion .row.offset {
    margin-top: -190px;
    position: relative;
    z-index: 1;
}

.intro-glion .row.offset.fix .fix {
    margin-top: 80px;

}
.intro-glion img{
    min-width: 100%;
}

@media (max-width: 1199px) {
    .intro-glion .row.offset {
        margin-top: -110px;
    }
}
@media (max-width: 767px) {
    .intro-glion .row.offset {
        margin-top: 0;
    }
    .intro-glion .row.offset.fix .fix {
        margin-top: 0px;
    
    }
    .intro-glion h1 {
        letter-spacing: 0;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
    }
}
 

.intro-glion p, .small-font p {
    font-size: 15px;
    line-height: 20px;
}



/***************************************************
Alumni
***************************************************/


.alumni .wrap {
    overflow: hidden;

}
.alumni img.profile {
    min-width: 100%;
    max-width: 100%;
}

.alumni .item {
    border-top: 4px  solid #fff;
    border-bottom: 4px  solid #fff;
    border-left: 2px  solid #fff;
    border-right: 2px  solid #fff;
    /* display: flex; */
    flex-direction: column;

}

.alumni .item:nth-of-type(2n+1) {
    background: var(--grey);
    justify-content: flex-start;
}
.alumni .item:nth-of-type(2n+2) {
    background: var(--beige);
    justify-content: flex-end;
    
}

.alumni .item:nth-of-type(2n+2) .row:last-child {
    height: 100%;
     
 }
 .alumni .item:nth-of-type(2n+2) .row:first-child {
    align-items: flex-end;
     
 }

.alumni_profile img {
    min-width: 100%;
}

.row.alumni .wrap {
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    position: relative;
}


.alumni_profile {
    /* display: none; */
}

.alumni_prof_container.active {
   min-height: 500px;
}


@media(max-width: 767px) {
    .alumni_prof_container.active {
        min-height: unset;
        margin-top: -4px;
    }

    .alumni .carousel-toggle {
        bottom: 150px;
    }
    .alumni .item:nth-of-type(2n+2) .row:nth-child(1) {
        order: 2
    }
    .alumni .item:nth-of-type(2n+2) .row:nth-child(2) {
        order: 1
    }
    .row.alumni .wrap {
        width: 400vw;
        display: flex;
        overflow-x: hidden;
        position: relative;
    }
}


