

/***************************************************
Accordions
***************************************************/

.accordion:nth-of-type(2n+1) .accordion_text {
    border-bottom: 1px solid var(--grey);
}

footer  .accordion_text { 
    border-bottom: none !important
}

.accordion_text {
    display: none;
}

.accordion-border {
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);

}

.accordion:nth-of-type(2n+1) h6,
footer.site-footer .accordion:nth-of-type(2n+1) span {

    background: var(--grey);
    color: var(--black);
    opacity: .8;
}

.accordion:nth-of-type(2n+2) h6 {
    background: var(--white);
    color: var(--black);
    opacity: .8;
}

.accordion h6 {
    /* text-transform: uppercase ; */
}
.accordion h6,
footer.site-footer .accordion span {
    font-family: 'Roboto', sans-serif !important;
    padding: 1.8rem 4rem 1.8rem 3rem;
    margin-bottom:0;
}
.accordion_text { 
        
    padding: 2rem 4rem 2rem 3rem;
    margin-bottom:0;
}

.masters-int-text, .business-masters-text, .masters-hosp-text, .masters-lux-text {
    padding: 0
}

.expand-icon {
    position: absolute;
    top: 1.8rem;
    height: 20px;
    right: 20px;
    width: 20px;
   
}

@media(min-width:768px) {
   
    #myTabContent .masters-int-title, #myTabContent .business-masters-title , #myTabContent .masters-hosp-title, #myTabContent .masters-lux-title {
        background: unset !important;
    }
    #myTabContent .business-masters-title , #myTabContent .masters-lux-title  {
        color: #fff
    }
}

@media(max-width:767px) {
    .accordion_text {
        
        padding: 1rem 0;
        margin-bottom:0;
    }
    .accordion_text h4, .accordion_text p, .accordion_text a{
        
        padding: 0rem 3rem ;
    }
    .accordion.coloured:nth-of-type(4n+1) h6 {
        background: var(--white);
        color: var(--blue)
    }

     .accordion.coloured:nth-of-type(4n+2) h6 {
        background: var(--blue);
        color: #fff;
    }
   /* .accordion:nth-of-type(4n+3) h6 {
        background: var(--beige);
        color: var(--blue);
    }
    .accordion:nth-of-type(4n+4) h6 {
        background: var(--bronze);
        color: #fff;
    } */
}

.accordion h6:hover,
footer.site-footer .accordion span:hover {
    
   cursor: pointer;
}
.accordion_title_black_text:not(.coloured).active {
    opacity: 1;
    background: var(--blue) !important;
        color: #fff !important;
}

@media(max-width:767px){
    .accordion .white-bg {
        background: var(--white);
        color: var(--blue);
    }
}
