
/***************************************************
Alumni Post Page
***************************************************/

.alumni_post {
    background: var(--bronze) !important;
    color: var(--white)
}

.alumni_post ul#breadcrumbs li, .alumni_post a {

    color: var(--white);
}

.timeline_container {
    padding: 0 0 0 20px;
    border-left: 1px solid var(--blue);
    font-size: 12px;
    color: var(--blue);
    border-image: linear-gradient(to bottom, rgba(0,0,0,0) 15px,rgba(0,0,0,1) 15px,rgba(0,0,0,1) calc(100% - 50px),rgba(0,0,0,0) calc(100% - 50px));
    border-image-slice: 1;
}

.timeline_container .row:before {
    content: "•";
    width: 5px;
    height: 5px;
    font-size: 30px;
    position: absolute;
    margin-top: -11px;
    left: -25px;
    display: block;
}

.timeline_container .year {
    font-weight: bold;
}

.timeline_container .achievement {
    font-weight: normal;
}

.alumni-callout .image_container {
    width: 100%;

}

.alumni-callout img {
    width: 100%;
    min-width: 1100px;
}
@media (max-width: 767px) {
.alumni-callout .image_container {
    min-width: 800px;

}
}