/***************************************************
Magazine
***************************************************/

.post-template-default .block-editorial-content-01 p,
.post-template-default .program-text p,
.post-template-default li,
.post-template-default #content ol li {
  font-size: 0.93rem;
  line-height: 1.25rem;
  font-weight: 300;
  margin: 1rem 0;
}

.post-template-default li {
  font-size: 0.93rem !important;
  line-height: 1.25rem !important;
  font-weight: 300 !important;
  margin: 1rem 0 !important;
}

.featuredCarousel {
  position: absolute;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  border: 0;
  bottom: 20px;
  height: auto;
  z-index: 2;
  padding: 0 10%;
}

.featuredCarousel a {
  color: white;
}

.blog-intro {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
  text-align: center;
  font-weight: 500 !important;
}

.quote {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  line-height: 2.7rem;
  font-weight: 700;
  margin: 2rem 0;
  display: block;
}

.post-template-default h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.875rem;
  line-height: 2.2rem;
  font-weight: 700;
}

.post-template-default h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.post-template-default h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.375rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.post-template-default a {
  text-decoration: underline;
}

.post-template-default a.social-share {
  text-decoration: none !important;
}

.magazine-header-section {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.magazine-header svg {
  max-width: 100%;
}

.magazine-header .mag_filter {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

/* .magazine-header .mag_filter:after  {
    width: 421px;
    height: 4px;
    left: calc( 50% - 210px);
    content: "";
    display: block;
    position: absolute;
    bottom: -18px;
    background: var(--black);
} */

.magazine-header .mag_filter li {
  list-style: none;
  display: inline;
  font-size: 17px !important;
  margin: 1.2rem !important;
}

.magazine-header .mag_filter li a {
  text-transform: uppercase;
}

.magazine-header .mag_filter li a:hover {
  color: var(--blue2021);
  border-bottom: 5px solid var(--blue2021);
  padding-bottom: 22px;
}

.magazine-header .mag_filter li a.active {
  color: var(--blue2021);
  font-weight: bold;
  border-bottom: 5px solid var(--blue2021);
  padding-bottom: 22px;
}

.magazine-header img {
  /* max-width: 90% !important;
    margin: 0 auto; */
  display: block;
}

.mag_span {
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
}

.latest-news img {
  /* min-width: 100%;
  max-width: 100%; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: unset;
}

.latest-news .image-container {
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.latest-news .item:nth-of-type(odd) {
  /* margin-left: auto; */
}
.latest-news .item:nth-of-type(even) {
  /* margin-right: auto; */
}

.latest-news .item:nth-of-type(1n) .row > .col-12 > .row:first-child {
  height: 100%;
}

.latest-news .item:nth-of-type(4n + 2) .image-container,
.latest-news .item:nth-of-type(4n + 3) .image-container {
  /* overflow: hidden; */
  /* margin-top: 10rem; */
  /* height: 100%; */
}

.latest-news .item:nth-of-type(4n + 2) .row > .col-12 > .row:first-child,
.latest-news .item:nth-of-type(4n + 3) .row > .col-12 > .row:first-child {
  /* height: 56%; */
  /* top: -20%; */
}

.latest-news .item:nth-of-type(4n + 2) .row > .col-12 > .row:last-child,
.latest-news .item:nth-of-type(4n + 3) .row > .col-12 > .row:last-child {
  position: relative;
  /* top: 75%; */
  /* top: -20%; */
}

/* .latest-news .item:nth-of-type(4n + 2) .image-container img,
.latest-news .item:nth-of-type(4n + 3) .image-container img {
  -webkit-transform: scale(1);

  transform: scale(1);
  -webkit-transform-origin: 50% 70%;
  transform-origin: 50% 70%;
} */

.item > .row > .col-12 {
  flex-direction: column;
}

.latest-news .item:first-child {
  margin-top: 0px;
}
.latest-news .item:nth-of-type(2) {
  margin-top: 0px;
}

.latest-news p.category a,
.latest-news p.category {
  margin: 0px;
  color: var(--black);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.latest-news a:hover p.category {
  /* opacity: 0.8; */
  text-decoration: underline;
}

.latest-news h6 {
  margin: 0px;
  font-size: 1.5rem;
}

.blogPost .image-container {
  overflow: hidden;
}

.latest-news a.blogPost {
  display: block;
}

.absolute-excerpt {
  position: relative;
  /* left: 50%; */
  /* margin-top: -120px; */
  margin-top: 28px;
}

.latest-news .item .line-after:after {
  height: 44px;
  top: 95%;
}

.line-after.clear-mob {
  width: 100%;
}

/* .gatsby-image-wrapper {
    overflow: visible !important;
    position: relative !important;
    height: 100%;
    position: unset !important;
  } */

.image_container {
  width: 100%;
  min-width: 800px;
  overflow: hidden;
}
.image_container img {
  max-width: 100%;
}

/* BLOG STYLES 2021 */

.blog_post_template_2021 .breadcrumb-container {
  position: relative;
  padding-left: 0;
}

.blog_post_template_2021 ul#breadcrumbs li a,
.archive ul#breadcrumbs li a {
  color: var(--blue2021);
  text-decoration: underline;
}

.blog_post_template_2021 ul#breadcrumbs li a:hover,
.archive ul#breadcrumbs li a:hover {
  text-decoration: none;
}

.blog_post_template_2021 ul#breadcrumbs {
  padding-left: 0;
}

.blog_post_template_2021 .blog-content-2021 :is(h2, h3, h4, h5, h6),
.blog_post_template_2021 .blog-content-2021:not(.program-text.individual h2) {
  color: var(--blue2021);
}

.blog_post_template_2021 .wp-block-image .gatsby-image-wrapper {
  width: 100% !important;
}

.blog_post_template_2021 .wp-block-image {
  margin-bottom: 90px;
  margin-left: -15px;
  margin-right: -15px;
}

.blog_post_template_2021 .wp-block-image .alignleft {
  margin-left: 0;
  margin-right: 0;
  float: unset;
  width: 100%;
}

.blog_post_template_2021
  .blog-content-2021
  .line-after.blue-bg
  .gatsby-image-wrapper {
  width: 100%;
  min-width: 100%;
}

.blog_post_template_2021 .blue-bg h2 {
  color: var(--white);
}

.blog_post_template_2021 .blog-content-2021 .blue-bg p,
.blog_post_template_2021 .blog-content-2021 .blue-bg ul li {
  color: var(--white);
}

.blog_post_template_2021 .blog-content-2021 h1 {
  font-size: 3.1rem;
  line-height: 3.875rem;
}

.blog_post_template_2021 .blog-content-2021 .post-preview-section h1 {
  color: var(--black);
}

.blog_post_template_2021 .blog-content-2021 .row.share {
  border-bottom: none;
  margin-left: 250px;
  margin-bottom: 50px !important;
}

.blog_post_template_2021 .blog-content-2021 .post-preview-section {
  margin-top: -100px;
  z-index: 2;
  position: relative;
}

.blog_post_template_2021 .blog-content-2021 .post-preview-content {
  background: #fff;
  padding: 44px 42px;
  padding-bottom: 0;
}

.blog_post_template_2021
  .blog-content-2021
  .post-preview-content
  p:first-of-type {
  font-weight: bold;
  color: var(--bronze);
  padding-right: 25px;
}

.blog_post_template_2021
  .blog-content-2021
  .post-preview-content
  p:last-of-type {
  color: #bbb6c2;
}

.blog-logo {
  max-width: 70% !important;
  margin: 0 auto;
}

p.post-date {
  font-size: 16px;
  color: #bbb6c2;
  text-align: center;
}

.blogPost .image-container {
  overflow: hidden;
  height: 600px;
}

.magazine-header .blogPost {
  background: var(--blue2021);
}

.magazine-header .blogPost .image-container {
  width: 95%;
  margin: 0 auto;
}

.magazine-header .middle-featured-images {
  background: var(--white);
  position: relative;
  top: -100px;
  width: 426px;
  margin: 0 auto;
  padding-top: 30px;
}

.magazine-header .middle-featured-images.line-after::after {
  top: -10%;
  height: 44px;
}

.magazine-header .blogPost .image-container .image-overlay {
  position: absolute;
  background: rgba(0, 58, 180, 0.6);
  inset: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.magazine-header .blogPost:hover .image-overlay {
  opacity: 1;
}

#content .editors-pick h1 {
  font-size: 3.25rem;
  line-height: 3.875rem;
  padding-bottom: 10px;
}

.blog_post_template_2021 .blog-content-2021 h2,
#content .editors-pick h2,
#content .archive-news h2,
#content .category-title h2 {
  font-size: 2.625rem;
  line-height: 3.25rem;
}

.blog_post_template_2021 .blog-content-2021 h3,
.similar-stories h3,
#content .editors-pick h3,
#content .archive-news h3 {
  font-size: 1.875rem;
  line-height: 2.5rem;
}

.blog_post_template_2021 .blog-content-2021 h4,
#content .editors-pick h4,
#content .archive-news h4 {
  font-size: 1.625rem;
  line-height: 2.25rem;
}

.blog_post_template_2021 .blog-content-2021 h5,
#content .editors-pick h5,
#content .archive-news h5 {
  font-size: 1.5rem;
  line-height: 2.0625rem;
}

.blog_post_template_2021 .blog-content-2021 h6,
#content .editors-pick h6,
#content .archive-news h6 {
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.blog_post_template_2021 .blog-content-2021 .post-preview-content p {
  font-size: 16px;
  margin: 0;
}

.blog_post_template_2021 .blog-content-2021 p,
.blog_post_template_2021 .blog-content-2021 ul li {
  font-size: 18px !important;
  line-height: 28px !important;
}

.blog_post_template_2021 .blog-content-2021 p,
.blog_post_template_2021 .blog-content-2021 ul li {
  color: var(--black);
}

.blog_post_template_2021 .blog-content-2021 .block-blog-content a,
.blog_post_template_2021 .blog-content-2021 .block-blog-content p strong,
.blog_post_template_2021 .blog-content-2021 .block-blog-content strong {
  font-weight: 700;
}

.blog_post_template_2021 .blog-content-2021 .block-blog-content a {
  color: var(--bronze);
  text-decoration: underline;
}

.blog_post_template_2021 .blog-content-2021 .block-blog-content a:hover {
  text-decoration: none;
}

#content .editors-pick .main-featured-image .image_container {
  width: 95%;
  min-width: 95%;
  margin: 0 auto;
}

#content .editors-pick .main-featured-image .blogPost {
  background: var(--blue2021);
}

#content .editors-pick .main-featured-image .blogPost::after {
  opacity: 0;
  visibility: hidden;
  display: none;
}

#content .editors-pick .main-featured-image .image_container {
  width: 97%;
  min-width: 97%;
  margin: 0 auto;
}

#content .editors-pick .main-featured-post.line-after::after {
  top: -7%;
  height: 44px;
}

#content .editors-pick .main-featured-image .image-overlay {
  position: absolute;
  background: rgba(0, 58, 180, 0.6);
  inset: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#content .editors-pick .main-featured-image:hover .image-overlay {
  opacity: 1;
}

#content .editors-pick .main-featured-post {
  background: white;
  position: relative;
  /* top: -250px; */
  width: 618px;
  margin: 0 auto;
  padding-top: 40px;
  margin-top: -250px;
}

#content .editors-pick h3 a,
#content .editors-pick a h3,
.latest-news a h3 {
  color: var(--blue2021);
}

#content .editors-pick h3 a:hover,
#content .editors-pick a:hover h3,
.latest-news a:hover h3 {
  color: var(--blue2021);
  text-decoration: underline;
}

#content .category-editors {
  color: var(--black);
}

#content .category-editors:hover {
  color: var(--black);
  text-decoration: underline;
}

.latest-news .item:nth-child(5n) .line-after,
.latest-news .item:nth-of-type(2) .line-after {
  background: var(--blue2021);
}

.latest-news .item:nth-child(5n) .image-container,
.latest-news .item:nth-of-type(2) .image-container {
  margin: 0 auto;
  min-width: 95%;
  width: 95%;
}

.latest-news .item:nth-child(5n) .image-overlay,
.latest-news .item:nth-of-type(2) .image-overlay {
  position: absolute;
  background: rgba(0, 58, 180, 0.6);
  inset: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.latest-news .item:nth-child(5n) .image-container:hover .image-overlay,
.latest-news .item:nth-of-type(2) .image-container:hover .image-overlay {
  opacity: 1;
}

.latest-news .item .image-overlay {
  position: absolute;
  background: rgba(0, 58, 180, 0.6);
  inset: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.latest-news .item .image-container:hover .image-overlay {
  opacity: 1;
}

.magazine-header-mob .col-12 p {
  color: #bbb6c2;
  border-top: 1px solid #cfcfcf;
  padding-top: 12px;
  margin-top: 0;
}

.magazine-header-mob .dropdown {
  width: 278px;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
}

.magazine-header-mob .dropdown.show {
  /* margin-bottom: 32px; */
}

.magazine-header-mob .dropdown .dropdown-toggle {
  background: none;
  color: var(--black);
  border: none;
  padding-bottom: 20px;
  font-size: 18px;
  width: 100%;
}

.magazine-header-mob .dropdown .dropdown-toggle:focus,
.magazine-header-mob .dropdown .dropdown-toggle:active {
  box-shadow: none !important;
  background: none;
  border: none;
  color: var(--black);
}

.magazine-header-mob .dropdown-menu.show {
  width: 100%;
  text-align: center;
  border: none;
  margin-top: 18px;
  top: 0px !important;
  left: 0px !important;
  transform: translate3d(0px, 52px, 0px) !important;
}

.magazine-header-mob .dropdown-menu .dropdown-item {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.magazine-header-mob .dropdown-menu .dropdown-item:active {
  background-color: transparent;
  color: var(--black);
}

.magazine-header-mob .dropdown-menu .dropdown-item.active {
  color: rgba(37, 54, 69, 0.3);
  background: none;
}

.magazine-header-mob .dropdown-menu .dropdown-item.active::before,
.magazine-header-mob .dropdown-menu .dropdown-item.active::after {
  content: "-";
}

.magazine-header-mob .dropdown.show .dropdown-toggle::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.magazine-header-mob .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 25px;
  top: 15px;
  transition: all 0.5s ease-in-out;
}
.block-blog-content {
  color: var(--black);
}
@media (min-width: 768px) {
  .block-blog-content {
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 767px) {
  /* BLOG UPDATES 2021 */

  .blog_post_template_2021 .wp-block-image,
  .block-blog-content {
    margin-bottom: 45px;
  }

  .blog_post_template_2021 .blog-content-2021 .post-preview-section {
    margin-top: 0;
  }

  .blog_post_template_2021 .blog-content-2021 .post-preview-content {
    padding: 42px 0px;
  }

  .blog_post_template_2021 .blog-content-2021 .row.share {
    margin-left: 0;
  }

  .blog_post_template_2021 .blog-content-2021 .block-hero-01 .row.hero {
    margin-left: -30px;
    margin-right: -30px;
  }

  .blog_post_template_2021
    .blog-content-2021
    .block-hero-01
    .row.hero
    .background_image_featured
    picture
    img {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    width: unset !important;
  }

  .blog_post_template_2021
    .blog-content-2021
    .block-hero-01
    .row.hero
    .background_image_featured
    .gatsby-image-wrapper {
    width: 100% !important;
  }

  .blog_post_template_2021
    .blog-content-2021
    .block-hero-01
    .row.hero
    .background_image_featured
    .gatsby-image-wrapper
    > div {
    padding-bottom: 0 !important;
  }

  #content .editors-pick h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .blog_post_template_2021 .blog-content-2021 h2,
  #content .editors-pick h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .blog_post_template_2021 .blog-content-2021 h3,
  .similar-stories h3,
  #content .editors-pick h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .blog_post_template_2021 .blog-content-2021 h4,
  #content .editors-pick h4 {
    font-size: 25px;
    line-height: 35px;
  }

  .blog_post_template_2021 .blog-content-2021 h5,
  #content .editors-pick h5 {
    font-size: 22px;
    line-height: 30px;
  }

  .blog_post_template_2021 .blog-content-2021 h6,
  #content .editors-pick h6 {
    font-size: 20px;
    line-height: 28px;
  }

  .magazine-header-section {
    border-bottom: none;
    border-top: none;
  }

  .main-featured-image,
  .magazine-header .col-12 .row {
    margin-left: 0;
    margin-right: 0;
  }

  .magazine-header .blogPost .image-container {
    height: 300px;
  }

  .magazine-header .middle-featured-images {
    width: 100%;
    top: -30px;
  }

  .last-main-featured-image {
    margin-right: -15px;
    margin-left: -15px;
  }

  .container.mt-4.overflow-hidden .latest-news .item,
  .container.mt-0.archive-news.overflow-hidden .latest-news .item,
  .similar-stories .latest-news .item {
    height: auto;
    padding-bottom: 0;
  }

  .similar-stories .latest-news .item .row.mt-auto.line-after {
    margin-left: 0;
    margin-right: 0;
  }

  .archive-news .latest-news {
    margin-left: 0;
    margin-right: 0;
  }

  #content .editors-pick .main-featured-post {
    width: 100%;
    margin-top: -152px;
  }

  #content .editors-pick .main-featured-image .image_container {
    width: 95%;
    min-width: 95%;
    margin: 0 auto;
  }

  .magazine-header .middle-featured-images.line-after::after {
    display: none;
  }

  #content .editors-pick .main-featured-post.line-after::after {
    display: none;
  }

  .magazine-header .mag_filter:after {
    width: 221px;
    left: 0;
  }
  .post-template-default .block-editorial-content-01 p,
  .post-template-default .program-text p,
  .post-template-default #content ul:not(.structure_nav) li,
  .post-template-default #content ol li {
    font-size: 1.1rem;
    line-height: 1.45rem;
    font-weight: 300;
    margin: 1rem 0;
  }
  .post-template-default .block-editorial-content-01 p,
  .post-template-default .program-text p,
  .post-template-default #content ul:not(.structure_nav) li,
  .post-template-default #content ol li {
    font-size: 1.5rem;
    line-height: 1.95rem;
    font-weight: 300;
    margin: 1rem 0;
  }

  .featuredCarousel {
    max-width: 400px;
  }
  .splide__slide .title h6,
  .featuredCarousel h6 {
    font-size: 1.6rem !important;
    line-height: 2.5rem;
  }
  .splide__slide .title {
    top: 10px;
  }

  .blog-intro {
    font-size: 1.9rem !important;
    line-height: 2.4rem !important;
    text-align: center;
    font-weight: 500 !important;
  }

  .post-template-default h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 400;
  }
  .line-after.clear-mob {
    margin-bottom: 0;
    width: unset;
  }
  .line-after.clear-mob:after {
    display: none;
  }
  .post-template-default h3 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
  .post-template-default h4 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .magazine-header .mag_filter:after {
    width: 100%;
  }
  .magazine-header .mag_filter {
    display: block;
    text-align: center;
  }
  .magazine-header .mag_filter li {
    display: block;
  }
  .latest-news .item {
    height: 0;
    width: 100%;
    padding-bottom: 110%;
  }
  .latest-news .item .row > .col-12 > .row:first-child,
  .latest-news .item:nth-of-type(1n) .row > .col-12 > .row:first-child {
    /* height: 56%; */
    top: 0;
  }
  .latest-news .item:nth-of-type(4n + 2) .row > .col-12 > .row:last-child,
  .latest-news .item:nth-of-type(4n + 3) .row > .col-12 > .row:last-child {
    top: 0;
  }
  .latest-news .item .row > .col-12 > .row {
    height: 56%;
    top: 0;
  }
  .latest-news .item .image-container {
    overflow: hidden;
    /* margin-top: 10rem; */
    height: 300px !important;
  }
  .latest-news .item .image-container img {
    /* -webkit-transform: scale(1.1);

    transform: scale(1.1);
    -webkit-transform-origin: 50% 70%;
    transform-origin: 50% 70%; */
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .latest-news .item:nth-child(1n + 0) .row > .col-12 > .row:first-child {
    margin-top: 0 !important;
  }
  .latest-news .item {
    margin-bottom: 50px;
  }
  .latest-news .item .line-after:after {
    left: 7%;
    height: 100px;
    display: none;
  }
}

.row.share {
  border-bottom: 1px solid var(--grey);
}
.row.share .social_view img {
  max-width: 23px !important;
}
.social_share_toggle {
  /* max-width: 43px !important; */
}
.social_share_toggle:hover {
  cursor: pointer;
}

/***************************************************
Pagination
***************************************************/

.blog-pagination {
  width: 100%;
  position: relative;
  z-index: 5;
}

.blog-pagination li a,
.blog-pagination li a:hover,
.blog-pagination li.active,
.blog-pagination li.active a,
.blog-pagination li.disabled {
  color: var(--blue);
  text-decoration: none;
}

.blog-pagination li.active {
  text-decoration: underline;
}

.blog-pagination li {
  display: inline;
}

.blog-pagination li a,
.blog-pagination li a:hover,
.blog-pagination li.active a,
.blog-pagination li.disabled {
  background-color: var(--white);
  color: var(--blue);
  cursor: pointer;
  padding: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.1em;
  padding: 0.75rem;
}

.blog-pagination li a:hover,
.blog-pagination li.active a {
  text-decoration: underline;
}
