
/***************************************************
Breadcrumb
***************************************************/


.breacrumb-trail-container{
    z-index: 20;
}

ul#breadcrumbs { 
    margin-top: 5px;
    padding-left: 45px;
    /* position: absolute; */
}




ul#breadcrumbs li {
    list-style: none;
    color: var(--blue);
    display: inline;
    font-size: 0.75rem !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

@media (max-width: 1300px) {
    ul#breadcrumbs { 
        /* margin-top: 15px; */
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
}