/***************************************************
Forms
***************************************************/

.form-control-lg {
    border-radius: 0;
}

.form-group {
    margin-bottom: 1.3rem;
}

.form-control:focus {
    color: var(--bronze);
    background-color: #fff;
    border-color: var(--beige);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--beige);;
}

@media (max-width: 767px) {
    .form-control-lg {
        height: 40px;
        margin-bottom: 20px;
    }
}

