#schedule_form {
  display: block !important;
}

#schedule_form .calendly-inline-widget {
  display: block !important;
}

#schedule_form .calendly-inline-widget iframe {
  display: block;
}

.calendly-inline-widget > iframe {
  display: none;
}
