
/***************************************************
Campus
***************************************************/

.row.campus {
  /* max-width: 100%; */
}
.row.campus h2 {
  font-size: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.row.campus p {

  /* margin-top: 0; */
}

.campus-rollover a {

  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.campus-rollover {
  color: var(--white);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.campus-rollover:hover {
  text-decoration: none;
  cursor: pointer;
}

.campus-rollover:hover  .gatsby-image-wrapper {
  transform: scale(1.05);
  transition: .2s ease-in-out;
}

.campus-rollover img,  .campus-rollover .gatsby-image-wrapper {
 min-width: 100%;
 transition: .2s ease-in-out;
}

.campus-rollover .btn-primary {
position: absolute;
bottom: 2.2rem;
}

.campus-rollover:hover .btn-primary {
  color:var(--blue);
  background-color: var(--white);
  border-color: var(--white);
  
}

.campus-rollover .image {
  position: relative;
  overflow: hidden;
}

.overlay {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  -webkit-transition: all .15s ease-out 0.1s;
  -moz-transition: all .15s ease-out 0.1s;
  -o-transition: all .15s ease-out 0.1s;
  transition: all .15s ease-out 0.1s;
  background-color: rgba(000, 000, 000, .5);
}


.campus-rollover .text-center,  .carousel-toggle {
  z-index: 4;
}


.campus-rollover .btn-primary{
  z-index: 2;
}

.campus-rollover:hover .overlay  {
  background: rgba(240,212,198, .5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
} 

.open-days > .col-6 {
  flex-direction: column;
}
.open-days > .col-6 .row:first-child {
  flex: 0.3
}
.open-days > .col-6 .row:last-child {
  flex: 0.3
}

.open-days img {
  min-width: 100%;
}

.row.campus .wrap {
  width: 100vw;
  display: flex;
  /* overflow-x: hidden; */
  position: relative;
}

@media(max-width: 767px) {
  .row.campus .btn-primary {
      bottom: 4.5rem;
  }
  .row.campus {
      /* width: 196vw; */
      display: flex;
      overflow: hidden;
  }

  .row.campus .wrap {
      width: 200vw;
      display: flex;
      /* overflow-x: hidden; */
      position: relative;
  }

  .foreground_text p {
      padding: 0 40px;
  }
  
.campus-left svg, .campus-right svg, .alumni-left svg, .alumni-right svg {
  height: 100%;
}
.campus-left, .campus-right, .alumni-left, .alumni-right   {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 100%;
  align-items: center;
  z-index: 20;
  opacity: .5;
}
.campus-right, .alumni-right {
  position: absolute;
  left: unset;
  right: 0px;
}

.campus-left:hover, .campus-right:hover, .alumni-left:hover, .alumni-right:hover {
cursor: pointer;
opacity: 1;
}

.alumni-left svg, .alumni-right svg { 
  margin-top: -150px
}

}

/***************************************************
Bootstrap Carousel
***************************************************/
/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/

/***************************************************
Bootstrap Carousel
***************************************************/
/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  /* .carousel .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;  /*change this with javascript in the future*/

}
@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/

}
@media (min-width: 768px) {
  .carousel:not(.alumni)  .carousel-item {
      margin-right: 0;
  }
  /* show 2 items */
  .carousel:not(.alumni) .carousel-inner .active + .carousel-item {
      display: block;
  }
  .carousel:not(.alumni)  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel:not(.alumni) .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
  }
  .carousel:not(.alumni) .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel:not(.alumni)  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel:not(.alumni) .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel:not(.alumni) .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel:not(.alumni) .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* right or prev direction */
  .carousel:not(.alumni)  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel:not(.alumni) .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel:not(.alumni) .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel:not(.alumni)   .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel:not(.alumni)  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }
  .carousel:not(.alumni)   .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel:not(.alumni)  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction */
  .carousel:not(.alumni)   .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel:not(.alumni)  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel:not(.alumni)  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel:not(.alumni)  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* left or forward direction */
  .carousel:not(.alumni)   .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel:not(.alumni)   .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
}
.carousel {
  width: 100%;
}
.carousel .carousel-control-next, .carousel .carousel-control-prev {
  width: 6%;
  height: 80%;
  top: 10%;
  z-index: 10;
  position: absolute;

  /* top: 50%; */
}
.carousel-item img {
  min-width: 100%;
  max-width: 100%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 30px;
  height: 10px;
  /* background: no-repeat 50%/1050% 70%; */
}
.carousel-control-prev-icon {
  margin-left: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAICAYAAADnVO9eAAAAQ0lEQVQokWOcVxHNgAT+Q5mMDFQGTFgsoQlgwmIJ1X0DAixYfEITnzERoYYqgAUaVDQPOpiPkA2nedDRxCdgwMDAAABECQiEF0+RnwAAAABJRU5ErkJggg==);
}
.carousel-control-next-icon {
  margin-right: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAICAYAAADnVO9eAAAAR0lEQVQokWOcVxHNQAPwH2okI8xoJlrYggRgFtLMIkYkNtgyFmRbaQj+0zro4IAFzZvUBMghxUgrH6FYAiJoHXSQ0GJgYAAAYD8IhDUMnXUAAAAASUVORK5CYII=);
}

#alumni-carousel .campus-rollover a {
  position: relative;
}

.campus-rollover {

}

/***************************************************
Carousel Toggle 
***************************************************/
@media (max-width: 767px){
  .carousel-toggle {
      position: absolute;
      bottom: 10px;
  }
  .carousel-toggle img, .carousel-toggle svg {
     padding: 5px
  }
  .carousel-toggle svg {
      background: white;
  }
  .carousel-toggle img, .carousel-toggle .svg-click svg {
     opacity: .5;
  }
  .svg-click:hover {
      cursor: pointer;
  }
  .carousel-toggle img:hover, .carousel-toggle .svg-click:hover svg {
     opacity: .7;
     cursor: pointer;
  }
  .carousel-toggle img.active, .carousel-toggle .svg-click.active svg {
     opacity: 1;
  }
}
@media(max-width: 500px) {
  .alumni .carousel-toggle {
      bottom: calc(20% + 60px);
  }
  
}

@media(max-width: 1200px) {
  .adjust-swiss-img .background_image {
    min-width: unset;
  }
}

@media (min-width: 768px) {
.alumni .item:first-child {
    margin-left: auto;
}
.alumni .item:last-child {
    margin-right: auto;
}
}