

/***************************************************
Campus
***************************************************/

.row.campus {
    /* max-width: 100%; */
}
.row.campus h2 {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.row.campus p {

    /* margin-top: 0; */
}

.campus-rollover a {

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.campus-rollover {
    color: var(--white);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.campus-rollover:hover {
    text-decoration: none;
    cursor: pointer;
}

.campus-rollover:hover img, .campus-rollover:hover .gatsby-image-wrapper {
    transform: scale(1.05);
}

.campus-rollover img, .campus-rollover .gatsby-image-wrapper {
   min-width: 100%;
   transition: .2s ease-in-out;
}
.campus-rollover .btn-primary {
 position: absolute;
 bottom: 2.2rem;
}
.campus-rollover .btn-primary.btnAdjust {
 position: absolute;
 bottom:0;
}


.campus-rollover:hover .btn-primary {
    color:var(--blue);
    background-color: var(--white);
    border-color: var(--white);
    
}

.campus-rollover .image {
    position: relative;
    overflow: hidden;
}

.overlay {
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    -webkit-transition: all .15s ease-out 0.1s;
    -moz-transition: all .15s ease-out 0.1s;
    -o-transition: all .15s ease-out 0.1s;
    transition: all .15s ease-out 0.1s;
    background-color: rgba(000, 000, 000, .5);
    pointer-events: none;
}


.campus-rollover .text-center,  .campus-rollover .btn-primary,  .carousel-toggle {
    z-index: 4;
}

.campus-rollover:hover .overlay  {
    background: rgba(240,212,198, .5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.open-days > .col-6 {
    flex-direction: column;
}
.open-days > .col-6 .row:first-child {
    flex: 0.3
}
.open-days > .col-6 .row:last-child {
    flex: 0.3
}

.open-days img {
    min-width: 100%;
}

.row.campus .wrap {
    width: 100vw;
    display: flex;
    /* overflow-x: hidden; */
    position: relative;
}

.open_day_intro {
    font-size:12px; 
    font-weight: bold;
    
}

.facImage {
    min-height: 700px;
}
@media(max-width: 767px) {

 .facImage {
    min-height: 400px;
}
    .row.campus .btn-primary {
        bottom: 4.5rem;
    }
    .row.campus {
        /* width: 196vw; */
        display: flex;
        overflow: hidden;
    }

    .row.campus .wrap {
        width: 200vw;
        display: flex;
        /* overflow-x: hidden; */
        position: relative;
    }

    .foreground_text p {
        padding: 0 40px;
    }
    
.campus-left svg, .campus-right svg, .alumni-left svg, .alumni-right svg {
    height: 100%;
}
.campus-left, .campus-right, .alumni-left, .alumni-right   {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 100%;
    align-items: center;
    z-index: 20;
    opacity: .5;
}
.campus-right, .alumni-right {
    position: absolute;
    left: unset;
    right: 0px;
}

.campus-left:hover, .campus-right:hover, .alumni-left:hover, .alumni-right:hover {
cursor: pointer;
opacity: 1;
}

.alumni-left svg, .alumni-right svg { 
    margin-top: -150px
}

}

/***************************************************
Campus Pages
***************************************************/

.campus_gallery img {
    box-sizing: border-box;
    border: 2px solid #fff;
    padding: 1px;
    margin: 0 .4%;
    display: inline-block;
    min-width: 100%;
 }

.campus_gallery img:hover {
    cursor: pointer;
    opacity: .8;
 }
     
 .campus_gallery:nth-child(1)  {
    width: 35%;
    margin-left: .8%;
    margin-right: 0;
 }
 .campus_gallery:nth-child(2)  {
    width: 63.5%;

 }
 .campus_gallery:nth-child(3)  {
    width: 49%;
    margin-top: 2px;
    margin-left: .6%;
    margin-right: .5%;
 }
 .campus_gallery:nth-child(4)  {
    width: 24.5%;
    margin-top: 2px;
    margin-right: .4%;
    padding: 0;
 }
 .campus_gallery:nth-child(5)  {
    width: 24.5%;
    margin-top: 2px;
    margin-right: 0;
    padding: 0;
 }

 .modal-dialog.campusGallery {
    height: 80vh;
    max-width: 100vw;
 }
 .modal-content.campusGallery{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent !important;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
 }

 .modal-content.campusGallery .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
    padding: 15px;
}

.modal-content.campusGallery .modal-body img {
    min-width: 100%;

 }


 /* @media (min-width: 768px) {
    .alumni .item:first-child {
        margin-left: auto;
    }
    .alumni .item:last-child {
        margin-right: auto !important;
    }
} */

 /* #campusGalleryCarousel .scale img {
    transform: scale(1.3);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
 } */
