
/***************************************************
Draggable News
***************************************************/

#dragabbleNews {
    width: 200%;


        display: flex;
        /* overflow-x: hidden; */
        position: relative;
    
}

#dragabbleNews .item{
    flex: 0 0 50%;
    max-width: 50%;
}
#dragabbleNews .item a{
   position: relative;
   z-index: 5;
}

.splide__slide {
    position: relative;
    display: flex;
    margin-bottom: 0 !important;
}
.splide__slide .gatsby-image-wrapper {
    position: unset !important;
}
.splide__slide:hover {
    cursor: grab;
}

.splide__slide .title {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    border: 0;
    top: 0;
    z-index: 2;
    padding: 0 10%;
    top: 30%;
}

.splide__slide .image img {
min-width: 100%

}

.splide__slide .title a {
    color: #fff;
    margin-bottom: 0;

}
.splide__slide .title p, .splide__slide .title a {
    font-size: 12px !important;
   margin: 0 auto !important;
   text-transform: uppercase


}

.splide__slide .title h6 {
    margin: 0 auto !important;
}

@media (max-width: 991px) {
    .splide__slide .title h6 {
        font-size: 1.2rem !important;
        line-height: 1.5rem;
    }
    .splide__slide .title {

        top:10px;
    }
}
