/***************************************************
Faculty Loop
***************************************************/

.faculty-loop .white-border {
    border: 3px solid #fff;
}

.faculty-loop .blue-opacity:hover {
    background: linear-gradient(0deg, #243646, #243646), linear-gradient(0deg, #C4C4C4, #C4C4C4), #C4C4C4;
}

.faculty-loop img, .faculty-loop a{
    min-width: 100%;
}

.faculty-loop a:hover .gatsby-image-wrapper {
    opacity: .9;
}


.faculty-loop .white-border:hover .faculty-content {
    display: flex;
}

.faculty-loop .white-border .faculty-content {

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 60px;
    color: #FFFFFF;
}

.faculty-loop .white-border .faculty-content p:nth-of-type(1) {
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.04em;
    font-family: 'Playfair Display', serif;
}

.faculty-loop .white-border .faculty-content p:nth-of-type(2) {
    font-family: 'Helvetica', serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.faculty-loop .white-border .faculty-content p.learnClick {
    font-family: 'Helvetica', serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: underline;
}


@media(min-width: 1500px) {
    .faculty-loop .white-border .faculty-content {
        padding: 60px;
    }
}

@media(max-width: 1200px) {
    .faculty-loop .white-border .faculty-content {
        padding: 25px;
    }
}

@media(max-width: 1100px) {
    .faculty-loop .white-border:hover .faculty-content {
        display: none;
    }
}
