
/***************************************************
FIXES CTA's
***************************************************/
.fixed-ctas{
    position: fixed;
    top: 550px;
    right: -200px;
    z-index: 90;
    width: 200px;
    /* height: 220px; */
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.fixed-ctas.slide {
    right: 0px;
}

.fixed-ctas .menu-header-actions-container li {
    width: 205px;
    left: 0;
    transition: all .3s;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    margin: 0 !important;
}

.fixed-ctas .menu-header-actions-container li:hover {
 
    margin-bottom: 0;
    left: -30px;

}

.fixed-ctas .menu-header-actions-container li a {
    font-size: 12px;
    line-height: 14px;

    padding: 16px;
    transition: all 1s ease-in-out;

}

.fixed-ctas .menu-header-actions-container li a:hover {
    text-decoration: none !important; 
}


.menu-header-actions-container {
    /* position: absolute; */
}

@media(max-width:767px) {
    .fixed-ctas.slide {
        right: -30px;
    }
}


.menu-header-actions-container li { 
    width: 278px;
    /* height: 50px; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
}
.fixed-ctas .menu-header-actions-container li a { 
    color: var(--white) !important;
    width: 100%;
    height: 100%;
    padding: 18px 15px  !important; 
  
}
.menu-header-actions-container li a:hover { 
/* text-decoration: underline !important; */
  
}



.menu-header-actions-container li.download-brochure {
    background: var(--bronze);
}
.menu-header-actions-container li.apply-program {
    background: var(--purple);
}
.menu-header-actions-container li.contact {
    background: var(--beige);
}
.menu-header-actions-container li.contact a {
    color: var(--black) !important;
}
.menu-header-actions-container li.visit-campus {
    background: var(--blue);
} 

@media (max-width: 767px){
  
    
    .menu-header-actions-container li{
        width: 100% !important
    }

}