

/***************************************************
Accordions
***************************************************/

.accordion_text {
    display: none;
}



.accordion:nth-of-type(2n+1) h6,
footer.site-footer .accordion:nth-of-type(2n+1) span{

    background: var(--grey);
    color: var(--black);
    opacity: .8;
}

.accordion:nth-of-type(2n+2) h6 {
    background: var(--white);
    color: var(--black);
    opacity: .8;
}

.accordion h6 {
    /* text-transform: uppercase ; */
}

.accordion h6,
.site-footer .accordion span {
    font-family: 'Roboto', sans-serif !important;
    padding: 1.8rem 4rem 1.8rem 3rem;
    margin-bottom:0;
}
.visit-campus
.accordion h6 {
        
    padding: 1.8rem 4rem 1.8rem 3rem !important;
    margin-bottom:0 !important;
    
}

.accordion_text {
        
    padding: 2rem 4rem 2rem 3rem;
    margin-bottom:0;
}

.accordion-border {
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);

}

/***************************************************
Footer
***************************************************/


footer.site-footer span {
    display: block;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

footer h6,
footer.site-footer span {
    font-size: 12px;
    color: var(--blue);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
    line-height: 2rem;
}



footer .item {
    margin-bottom: 2rem;
}
footer ul  { 
    padding-left: 0
}
footer li {
    list-style: none;
}
footer li a{
    font-size: 15px;
   line-height: 17px;
   }
footer a img{
   position: relative;
   top: 10px;
   margin-right: 10px;
   transition: all .3s ease-in-out
}
footer a:hover img{
    top: 5px;
    opacity: .7;
    padding-bottom: 5px;
}
footer .social a {
    opacity: 1 !important;
}

footer .accordion_text a  {
    /* padding: 0 !important; */
}
footer .accordion a {
    font-weight: normal;
    color: var(--black);
     opacity: 0.5;
}
footer .accordion a:hover {
    color: var(--bronze);
     opacity: 0.5;
}

footer .menu-header-actions-container li a {  
    opacity: 1;
}

@media (max-width: 767px) {

    .site-footer .accordion span{
        font-size: 1.16rem!important;
        line-height: 1.66rem;
    }
 
    footer .accordion:nth-of-type(2n+1) h6 {
        background: var(--grey);
        color: var(--black);
        opacity: .8;
    }
    footer .accordion:nth-of-type(2n+2) h6 {
        background: var(--white);
        color: var(--black);
        opacity: 0.8;
    }
    footer .menu-sub-menu-about-glion-container, footer .menu-sub-menu-partnerships-and-recruitment-container, footer  .menu-sub-menu-quick-links-container, .item.logo {
        display: none;
        padding: 1rem 4rem 1rem 3rem;
    }
    .menu-header-actions-container {
        margin-top: 0;
    }
    .menu-header-actions-container li {
        margin-bottom: 0;
    }
    .row.social > .col-12 {
        padding: 40px 15px 60px;
        border-top: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
    }
    footer .item {
        margin-bottom: 0;
    }
    footer .menu-header-actions-container li a {
        padding: 1.5rem 4rem 2rem 1.9rem !important;
    }

    footer .accordion a {
        color: var(--black);
         opacity: 0.5;
    }
    
    footer .download-brochure a,  footer .apply-program a, footer .contact a,  footer .visit-campus a {

        opacity: 1 !important;
    }
    
}
@media (min-width: 768px) { 
    footer .accordion_text { 
        display: block;
        padding: 0;
    }
    footer .accordion h6,
    footer.site-footer .accordion span {
        background: unset !important;
        color: unset !important;
        padding: 0 0 10px;
        letter-spacing: 0.1em;
    }
}
