

.hero, .big_image {
  position: relative;
  justify-content: center;
  align-items: center;
}



.hero.scroll:after {
  bottom: 100%;
}


.background_image {
 width: 100%;

 position: relative;
 overflow: hidden;
}

.background_image .gatsby-image-wrapper {
min-width: 100%;
}

.background_image img {
  /* max-width: 100%;*/
  min-width: 100%; 
  /* width: 100%; */
  height: auto;
  z-index: 1;
}
@media (max-width: 1200px) {
  .hero {

    overflow: hidden;
  
  }
  .hero.overflow-adjust {

    overflow: visible;
  
  }

  .background_image { 
      min-width: 1184px; 
      height: 659px;
  }
  .background_image img {
  
      min-width: 1184px;
      height: 659px;
      z-index: 1;
  }
}

.foreground_text { 
padding: 10px;
  position: absolute;
  
  z-index: 2;
}

.secondary_text, .campus_share { 
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 2;
}



.foreground_text h1, .foreground_text h2 {

  text-align: center;

  color: var(--white);
  font-family: 'Playfair Display', serif;
}
.foreground_text p {
font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  /* line-height: 14px; */
  color: var(--white);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

@media(max-width: 767px) {
 .background_image.adjust {
  max-width: 100%;
  min-width: 100%;
}
 .background_image.adjust img {
  max-width: 100%;
  min-width: unset
}
  .secondary_text .btn-primary{ 
      max-width: 100%;
  }
 
  .secondary_text {
    bottom: 30px;
    left: 30px;
    width: 230px;
    position: absolute;
    z-index: 2;
}

.campus_share {
    position: absolute;
    left: 30px;
    bottom: 160px;
    z-index: 2;
}
.post-template-default .background_image{
  height: 500px;
}

.post-template-default .background_image .gatsby-image-wrapper {
  object-fit: contain;
  height: 100%;
}
}