/***************************************************
Programs
***************************************************/

.program-title {
    background: var(--blue);
}

.program-title h3 {
    padding-left: 10%;
    color: white;
    padding: 30px 40px 0px 100px;
    margin-bottom: 0;
}

.program-title .program_study_text {
    padding: 0px 40px 42px 100px;
    display: flex;
    align-items: center;
}

.program-title .program_study_text svg {
    margin-right: 20px;
}

.program-title .program_study_text p {
    margin: 0;
    color: white;
    font-size: 1rem;
}

.program-title .program_study_text p a {
    color: var(--beige);
    text-decoration: underline;
}

.program-content {
    background: var(--grey);
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.program-content .breadcrumb-container {
    position: relative !important;
}

.program-content.ind {

    padding: 20px 0;
}

.program-content .row:first-child {
    flex: .1
}

.program-content .row:nth-child(2) {
    flex: .08
}

.program-content .individual .row:nth-child(2) {
    flex: 1 !important;
}

@media(min-width: 1200px) {
    .program-text.individual .col-xl-8 {
        -ms-flex: 0 0 70.666667%;
        flex: 0 0 70.666667%;
        max-width: 70.666667%;
    }
}

.program-text {
    flex: .82 !important
}

.program-text.individual {
    flex: 1 !important
}

.program-text .btn-primary.beige:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white) !important;

}

.program-text .btn-primary.beige:focus,
.btn-primary.beige:not(:disabled):not(.disabled):active {
    box-shadow: 0 0 0 0.2rem var(--blue);
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.program-text h1 {
    font-size: 3.125rem;
    line-height: 4.1875rem;
    margin-bottom: 2rem;
    font-family: Playfair Display;
}

.program-text p {

    /* line-height: 14px; */
}

.program-text p>span {
    /* text-transform: uppercase; */
    font-weight: bolder;
}

.program-text .intake {
    text-transform: uppercase;
    /* font-size: 10px; */

}


.image.fill {
    overflow: hidden;
}

@media (max-width: 1475px) and (min-width: 767px) {
    .image.fill {
        overflow: hidden;
        object-position: 50% 70%;
        position: relative !important;
    }

    .image.fill img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transform-origin: 25% 0%;
        transform-origin: 25% 0%;
    }

}


/* .image.fill .gatsby-image-wrapper img {
    overflow: hidden;
    position: relative !important;
} */




.masters_that {
    position: relative;

}

.masters_that img {
    opacity: 0;
}

.masters_that .row {

    position: absolute;
}

.masters_that .row {
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
}

.masters_that .row .col-lg-6:first-child {
    background: var(--white);
    color: var(--blue)
}

.masters_that .row .col-lg-6:last-child {
    background: var(--blue);
    color: var(--white)
}

.white-bg {
    background: unset;
}

.white-bg .btn-primary:hover {
    color: var(--white);
    background-color: var(--bronze);
    border-color: var(--bronze);
}

.masters_that .row:last-child .col-lg-6:first-child {
    background: var(--beige);
    color: var(--blue)
}

.masters_that .row:last-child .col-lg-6:last-child {
    background: var(--bronze);
    color: var(--white)
}


.tab-pane>.row>.col-lg-6 {
    display: flex;
}

.nav-tabs {
    border: 0;
    height: 100%;
}

.tab-pane h6 {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
}

.tab-pane p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

a.learn_more {
    /* font-size: 12px; */
    line-height: 14px;
    text-transform: uppercase;
    color: var(--blue);

    padding: 10px 0;
    position: relative;
    top: 0;
    margin-bottom: 0;
    height: 30px;
    transition: all .2s ease-in-out;

}


.tab-pane a:hover:after,
a.learn_more:hover:after {
    color: var(--blue);
    width: 100%;
}



a.learn_more:after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 1px solid var(--blue);
    display: block;
    transition: width .2s ease-in-out;
}

.masters_that .row .col-6:last-child a:after {
    border-bottom: 1px solid var(--white);
}

.tab-pane a:hover,
a.learn_more:hover {
    text-decoration: none;

}

.learn_more.white {
    color: var(--white)
}

a.learn_more.white:after {
    border-bottom: 1px solid var(--white);
}

.masters_that .row .col-6:last-child a {

    color: var(--white)
}

.masters_that .row:last-child {
    top: 50%;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 50%;
}



.absolute {
    position: absolute;
}


.bronze-bg h2 {
    /* font-size: 3.125rem */
}

.bronze-bg p {
    /* margin-bottom: 3rem; */
}

.bronze-bg:not(#videosModals) .col-6:first-child {
    border-right: 1px solid var(--blue);
}




@media (min-width: 768px) {

    .masters-int-text,
    .business-masters-text,
    .masters-hosp-text,
    .masters-lux-text {
        display: block !important;
    }
}


/* 
@media (max-width: 1199px) and (min-width: 768px) {
    .image.fill img {
        -webkit-transform: scale(2.7);
        transform: scale(2.7);
       -webkit-transform-origin:  40% 30%;
       transform-origin: 40% 30%;
    }
    
} */
@media (min-width: 991px) {
    .tab-pane h6 {
        margin-bottom: 2rem !important;
        padding: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .tab-pane h6 {
        margin: 0 0 1rem !important;
        padding: 0 !important;
    }
}

@media (max-width: 767px) {
    .program-content:not(.ind) .row:first-child {
        flex: unset;
    }

    .program-text .intake {
        font-size: 1.21rem !important;

    }

    .tab-pane a:hover:after,
    a.learn_more:hover:after {
        display: none;
    }

    a.learn_more {
        font-size: 14px;
        font-weight: normal;
    }

    .tab-pane .learn_more {
        margin-top: 20px;
        display: block;
        text-decoration: underline;
    }

    .program-title h3 {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .program-title .program_study_text {
        padding: 10px 0px 34px 0px;
        justify-content: center;
        text-align: center;
    }

    .program-title .program_study_text svg {
        margin-right: 10px;
    }

    .program-title .program_study_text p a{
        display: block;
    }



    .tab-pane h6 {
        margin: 0;

    }

    /* .program-content:not(.ind) .row:nth-child(2) {
        flex: unset ;
        height: 50px;
    } */
    .program-text {
        flex: unset !important;
        padding: 50px 0;
    }

    .program-content .row:nth-child(2) {
        flex: unset;
    }

    .expand-icon img {
        display: block !important;
        fill: var(--black);
        opacity: 1 !important;
    }

    .expand-icon.white img {
        display: block !important;
        fill: #fff;
        opacity: 1 !important;
    }

    .expand-icon.active img {
        padding-top: 9px;
        display: block !important;
        fill: var(--black);
        opacity: 1 !important;
    }

    .masters_that .row:last-child .col-lg-6:first-child h6 {
        background: var(--beige);
        color: var(--blue)
    }

    .masters_that .row:last-child .col-lg-6:last-child h6 {
        background: var(--bronze);
        color: #fff;
    }

    .masters-int-text,
    .business-masters-text,
    .masters-hosp-text,
    .masters-lux-text {
        padding: 1rem 4rem 1rem 3rem;
        display: none;
    }

    .masters_that .row {
        position: relative;
    }

    .masters_that img,
    .masters_that .gatsby-image-wrapper {
        display: none;
    }

    .tab-pane .learn_more.white {
        color: unset
    }
}

@media (max-width: 1200px) {
    .tab-pane h6 {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .tab-pane p {
        font-size: .9rem;
        line-height: 1.1rem;

    }
}

@media (max-width: 767px) {
    .tab-pane h6 {
        font-size: unset;
        line-height: unset;
    }

    .tab-pane p {
        font-size: unset;
        line-height: unset;

    }
}

/***************************************************
Tabs
***************************************************/

.tab-content {
    /* display: inline-block; */
    width: 100%;
}

#myTab .nav-item {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;

    font-size: 14px;
}

#myTab li:not(.active):hover {
    cursor: pointer;
}

#myTab li.active {
    background: var(--bronze) !important;
    color: var(--white);

}

#myTab li {

    background: var(--white) !important;
    color: var(--black);
}






.darken:hover {
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: .5s;
    filter: brightness(0.8);
}

.darken.active:hover {
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: .5s;
    filter: brightness(1);
    cursor: default !important;
}

#myTab .nav-item a {
    width: 100%;
    height: 100%;

}

#myTab a:hover {
    color: unset;
    /* text-decoration: underline; */
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

#myTab .nav-link.active {
    background: none;
    border: 0
}

#myTab .nav-link {

    border: 0
}

@media (max-width: 767px) {
    #myTab li {

        height: 50px
    }

    .tab-content {
        display: block;

    }
}

/* Tab 02 Block */

.block-tabarea-02-2tabs .nav-tabs {
    justify-content: space-between;
}

.block-tabarea-02-2tabs button {
    min-width: 200px;
}

.block-tabarea-02-2tabs .tab-content {
    width: 100%;
    display: block;
}

.block-tabarea-02-2tabs .tab-content .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-tabarea-02-2tabs .tab-content .btn-primary {
    margin-top: 3rem;
}

.block-tabarea-02-2tabs .btn-primary:hover {
    background: var(--bronze);
    color: var(--white)
}

.block-tabarea-02-2tabs .btn-primary.active:focus,
.block-tabarea-02-2tabs .btn-primary:focus {
    background: var(--bronze);
    color: var(--white);
    box-shadow: 0 0 0 0.2rem var(--bronze) !important;
    border-color: var(--white);
}

.block-tabarea-02-2tabs .nav-item .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: var(--bronze);
    color: var(--white);
    border: none !important;
    box-shadow: unset !important
}

.block-tabarea-02-2tabs .nav-item .blue-bg .btn-primary:hover {
    background: var(--bronze);
    color: var(--white);
    border-color: none !important;
    border: none !important;
    box-shadow: unset !important
}

@media(max-width:767px) {
    .block-tabarea-02-2tabs button {
        min-width: unset;
    }
}


/***************************************************
Accordions
***************************************************/

/* .accordion:nth-of-type(2n+1) .accordion_text {
    border-bottom: 1px solid var(--grey);
} */

footer .accordion_text {
    border-bottom: none !important
}

.accordion_text {
    display: none;
}

.accordion ul {
    margin-left: 1rem;
}

.menu-header-actions-container ul {
    margin-left: 0;
}

.accordion video {
    max-width: 100%;
    height: auto;
}

video::-internal-media-controls-download-button {
    display: none;
}

.accordion-border {
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);

}

.accordion:nth-of-type(2n+1) h6,
footer.site-footer .accordion:nth-of-type(2n+1) span {

    background: var(--grey);
    color: var(--black);
    opacity: .8;
}

.accordion:nth-of-type(2n+2) h6 {
    background: var(--white);
    color: var(--black);
    opacity: .8;
}

.accordion h6 {
    /* text-transform: uppercase ; */
}

.accordion h6,
.site-footer .accordion span {

    padding: 1.8rem 4rem 1.8rem 3rem;
    margin-bottom: 0;
}

.accordion_text {

    padding: 2rem 4rem 2rem 3rem;
    margin-bottom: 0;
}

.masters-int-text,
.business-masters-text,
.masters-hosp-text,
.masters-lux-text {
    padding: 0
}

.expand-icon {
    position: absolute;
    top: 1.8rem;
    height: 20px;
    right: 20px;
    width: 20px;

}

@media(min-width:768px) {

    #myTabContent .masters-int-title,
    #myTabContent .business-masters-title,
    #myTabContent .masters-hosp-title,
    #myTabContent .masters-lux-title {
        background: unset !important;
    }

    #myTabContent .business-masters-title,
    #myTabContent .masters-lux-title {
        color: #fff
    }
}


@media(max-width: 1200px){
    .program-title .program_study_text{
        align-items: flex-start;
    }

    .program-title .program_study_text svg{
        position: relative;
        top: 7px;
    }
}

@media(max-width:767px) {

    .program-title .program_study_text svg {
        position: relative;
        top: 0px;
    }

    .accordion_text {

        padding: 1rem 0;
        margin-bottom: 0;
    }

    .accordion_text h1,
    .accordion_text h2,
    .accordion_text h3,
    .accordion_text h4,
    .accordion_text h5,
    .accordion_text h6,
    .accordion_text a,
    .accordion_text p,
    .accordion_text span {

        padding: 0rem 3rem;
    }

    .accordion_text a {
        padding: 2rem 3rem !important;
    }

    .accordion.coloured:nth-of-type(4n+1) h6 {
        background: var(--white);
        color: var(--blue)
    }

    .accordion.coloured:nth-of-type(4n+2) h6 {
        background: var(--blue);
        color: #fff;
    }

    /* .accordion:nth-of-type(4n+3) h6 {
        background: var(--beige);
        color: var(--blue);
    }
    .accordion:nth-of-type(4n+4) h6 {
        background: var(--bronze);
        color: #fff;
    } */
}

.accordion h6:hover,
footer.site-footer .accordion span:hover {

    cursor: pointer;
}

.accordion_title_black_text:not(.coloured).active {
    opacity: 1;
    background: var(--blue) !important;
    color: #fff !important;
}

@media(max-width:767px) {
    .accordion .white-bg {
        background: var(--white);
        color: var(--blue);
    }
}

/***************************************************
Leanirng Overview 
***************************************************/

.tab-pane .remote_learning_text {
    margin: 0;
    position: relative;
    margin-left: 50px;
}

.remote_learning_text.masters {
    margin-bottom: 1rem;
}

.remote_learning_text.masters::before {
    top: 10px;
}

.tab-pane .remote_learning_text.white::before {
    background-image: url("../../images/glion-remote-learning-icon-white.svg");
}

.remote_learning_text.batchelors::before {
    top: 3px;
    left: -50px;
}

@media(min-width: 1500px) {
    .remote_learning_text.masters::before {
        top: 3px;
    }
}

@media(max-width: 1200px) {
    .remote_learning_text::before {
        top: 0;
    }

    .remote_learning_text.masters::before {
        top: 7px;
    }
}

@media(max-width: 992px) {

    .remote_learning_text.masters::before {
        top: 5px;
    }
}

@media(max-width: 768px) {
    .remote_learning_text.masters {
        margin-left: 40px;
    }

    .remote_learning_text.masters::before {
        height: 25px;
        left: 0px;
        width: 25px;
        top: 1px;
    }

    .tab-pane .remote_learning_text.white::before {
        background-image: url("../../images/glion-remote-learning-icon.svg");
    }

    .remote_learning_text.batchelors::before {
        top: 0;
    }
}