
/***************************************************
Left Img Right Text
***************************************************/

.left_img_right_text img {
    /* min-width: 100%; */
}
.left_img_right_text .col-md-6 {
  overflow: hidden;
}

.left_img_right_text .gatsby-image-wrapper {
    position: unset !important;
}

.left_img_right_text .text-center {
    z-index: 5;
}

.image-video-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .left_img_right_text .col-12:nth-child(2) {
        /* padding: 0 !important */
    }
}