
/***************************************************
Alumni
***************************************************/
.alumni .wrap {
    overflow: hidden;

}

.alumni img.profile {
    min-width: 100%;
    max-width: 100%;
}

.alumni .col-md-3 {
    border-top: 4px  solid #fff;
    border-bottom: 4px  solid #fff;
    border-left: 2px  solid #fff;
    border-right: 2px  solid #fff;
    display: flex;
    flex-direction: column;

}

.alumni .col-md-3:nth-of-type(2n+1) {
    background: var(--grey);
    justify-content: flex-start;
}
.alumni .col-md-3:nth-of-type(2n+2) {
    background: var(--beige);
    justify-content: flex-end;
    
}

.alumni_profile img {
    min-width: 100%;
}

.row.alumni .wrap {
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    position: relative;
}


.alumni_profile {
    /* display: none; */
}

.alumni_prof_container.active {
   min-height: 500px;
}


@media(max-width: 767px) {

    #alumni-carousel3 .carousel-item.active {
        display: block !important;
    }

    #alumni-carousel3 .carousel-item {
        display: none !important;
    }

    .alumni .col-md-3 { 
        display: block !important;
    }
    .alumni_prof_container.active {
        min-height: unset;
        margin-top: -4px;
    }

    .alumni .carousel-toggle {
        bottom: 150px;
    }
    .alumni .col-md-3:nth-of-type(2n+2) .row:nth-child(1) {
        order: 2
    }
    .alumni .col-md-3:nth-of-type(2n+2) .row:nth-child(2) {
        order: 1
    }
    .row.alumni .wrap {
        width: 400vw;
        display: flex;
        overflow-x: hidden;
        position: relative;
    }
}



/***************************************************
Modal Carousel
***************************************************/
.modal-dialog {
    max-width: 100%;
    top: 5%
}
.modal-footer {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 15px;
    z-index: 4;
    border: 0;
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 85%;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    height: 50px;
    top: 48%
}

.modal-footer .btn-secondary {
    background: var(--bronze);
    border: none;
    opacity: .7;
    font-size: 20px;
}
.modal-footer .btn-secondary:hover {
    opacity: 1;
}
