/***************************************************
Fees Table
***************************************************/

.fees_table {
    font-size: 15px;
    margin-bottom: 3rem
}
.fees_table .opacity-bg {
    background: rgba(226,224,223, .1)
}
.fees_table .grey-bg {
    text-transform: uppercase;
    font-weight: bold;
}

/* .fees_table .grey-bg:nth-of-type(0n+2) {
    margin-top: 2rem;
} */

/***************************************************
Program Ind Program Structure
***************************************************/

.program-structure h3 {
    padding: 0 0 50px 50px;
}
.program-structure > .grey-bg {
    padding: 150px 0
}

.program-structure ul.structure_nav  {
    padding-left: 0;
}


.program-structure ul.structure_nav li {
    list-style: none;
    cursor: pointer;
    padding: 10px 50px ;
    text-transform: uppercase;
}

.program-structure ul.structure_nav li.active, .program-structure ul.structure_nav li:hover {
    background: var(--blue);
    color: var(--white)
}

.program-structure .content {

    padding: 50px;
    overflow: auto;
}


.program-structure .scrollbar {
    height: 700px;

    overflow: auto;
    min-width: 100%;
}

.program-structure .content-inner {

    padding: 0 6rem;
    position: relative;
    min-width: 100%;
}



.program-structure .content-inner p { 
    display: block;
    width: 100%;
}

.program-structure .content-inner {

visibility: hidden;
width: 100%;
height: 1px;
overflow: hidden;
}

.program-structure .content-inner video {

      width: 100%;
      height: auto;
}
.program-structure .content-inner.active_slide {

    visibility: visible;
    height: auto;
    display: block;
 }
 .program-structure .play_icon_btn{
    /* display: block!important; */
    position: absolute;
    margin-left: -15px;
    /* margin-top: 20px; */
    z-index: 1;
  }

  @media (max-width: 1199px) {
    .program-structure .play_icon_btn{
      margin-left: -30px;
      margin-top: 0px;
    }
  }
.program-structure .content-inner .size-full {

 
    min-width: 100% !important;
}

.program-structure .content-inner .counter, .accordion .counter {
position: relative;
/* margin-top: -50px; */
}


.video_wrapper,
.video_wrapper1 {
    position: relative;
}

.video_wrapper img,
.video_wrapper1 img {
   min-width: 100%;
}

.video_wrapper:hover,
.video_wrapper1:hover   {
   opacity: .7;
    cursor: pointer;
}

.video_wrapper a,
.video_wrapper1 a {
   display: block;

}


.video_wrapper .play_icon,
.video_wrapper1 .play_icon {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 26px);

}

.program-structure .content .wrap {
    width: 600vw;
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.program-structure .scrollbar::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  .program-structure .scrollbar::-webkit-scrollbar-track {
    background: #C4C4C4;     
    border-radius: 20px;    /* color of the tracking area */
  }
  .program-structure .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--black);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #C4C4C4;  /* creates padding around scroll thumb */
  }
.program-structure .scrollbar.hide_scroll::-webkit-scrollbar, .program-structure .scrollbar.hide_scroll::-webkit-scrollbar-track, .program-structure .scrollbar.hide_scroll::-webkit-scrollbar-thumb {
display: none;
  }
 
  @media(max-width: 991px) {
    .program-structure .content-inner {
        padding: 0 2.5rem;
    }
}



@media (max-width: 767px) {
    .program-structure .grey-bg {
        padding: 0;
    }
    .program-structure h3 {
        padding: 0;
    }
}


/***************************************************
Video
***************************************************/

.video{
    max-width: 100%;
}
