
/***************************************************
Program Ind
***************************************************/

.white-strip .keypoints p {
    text-transform: uppercase;
    font-weight: bold;

    margin-bottom: .5rem;
}


/***************************************************
Program Ind Arrows
***************************************************/

.row.courses-arrows .arrow {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
    /* background: var(--blue); */
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    display: block;
    margin: 0;
}

.row.courses-arrows .arrow .inner-arrow {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
    background: #C4C4C4;
    position: absolute;
/*   
    top: 2px;
    left: 3px;
    bottom: 2px;
    right: 2px; */
    height: 98%;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    display: block;

    margin: 0;
    /* margin-right: 6px; */
}


.row.courses-arrows .arrow.wide {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%, 0 0);
}

.row.courses-arrows .arrow.wide .inner-arrow {

    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%, 0 0);
}


.row.courses-arrows .inner-arrow.divider { 
    /* height: 50% */

}



.row.courses-arrows .arrow  .content {
    padding: 2rem;
    flex: 1 !important;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.courses-arrows .arrow  .content.item {
   height: 50%;
}

.row.courses-arrows .arrow  .content.item:first-child {
   border-bottom: 12px solid #fff;
   height: calc(51% );
}




.row.courses-arrows .arrow:first-child {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    /* background: var(--blue); */
   
}
.row.courses-arrows .arrow:first-child .inner-arrow {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    background: #C4C4C4;
   
}
.row.courses-arrows .arrow:last-child {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 50%, 0 0);
    /* background: var(--blue); */
   
}
.row.courses-arrows .arrow:last-child .inner-arrow {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 50%, 0 0);
    background: #C4C4C4;
    /* left: 4px; */
}



/* 
.row.courses-arrows.wide-children .arrow:first-child {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    background: var(--blue);
   
}
.row.courses-arrows.wide-children .arrow:first-child .inner-arrow {
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    background: #C4C4C4;
   
} */
/* .row.courses-arrows.wide-children .arrow:last-child {

    clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 50%, 0 0);
    background: var(--blue);
   
}
.row.courses-arrows.wide-children .arrow:last-child .inner-arrow {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 50%, 0 0);
    background: #C4C4C4;

} */

.row.courses-arrows .arrow .inner-arrow.blue { 
    background: var(--blue)  !important;
    color: var(--white)
}

.row.courses-arrows .arrow .inner-arrow.bronze { 
    background: var(--bronze) !important;
    color: var(--white)
}
.row.courses-arrows .arrow .inner-arrow.beige { 
    background: var(--beige) !important;

}
.row.courses-arrows .arrow .inner-arrow.lavender { 
    background: var(--purple) !important;

}


@media(max-width: 991px) and (min-width: 768px) {

    .row.courses-arrows .arrow {
        flex: 0 0 23%;
        max-width: 23%;
    }

    .row.courses-arrows .arrow:first-child,
    .row.courses-arrows .arrow:first-child .inner-arrow{
        clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    }

    .row.courses-arrows .arrow:last-child,
    .row.courses-arrows .arrow:last-child .inner-arrow{
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 6% 50%, 0 0);
    }

    .row.courses-arrows .arrow.wide {
        flex: 0 0 18%;
        max-width: 18%;
    }

    .row.courses-arrows.courses-two-row-arrows .arrow {
        Max-width: 25%;
        Flex: 0 0 25%;
    }

    .row.courses-arrows.courses-two-row-arrows .arrow:first-child {
        clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    }

    .row.courses-arrows.courses-two-row-arrows .arrow:last-child {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 50%, 0 0);
    }

}
@media (max-width: 767px) {
    .courses-arrows  {
        padding: 0 20px
    }
    .row.courses-arrows .arrow, .row.courses-arrows .arrow.wide {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        min-height: 150px;
        margin-bottom: 8px;
    }
    .row.courses-arrows.wide-children .arrow:first-child, .row.courses-arrows.wide-children .arrow:first-child .inner-arrow {

        clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%, 0 0);
    }
    .row.courses-arrows.wide-children .arrow:last-child, .row.courses-arrows.wide-children .arrow:last-child .inner-arrow {

        clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 50%, 0 0);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 50%, 0 0);
        flex: 0 0 100%;
        max-width: 99%;
        height: 00%;
        min-height: 220px;
    }
    .semester_signoff {
        font-size: 1rem !important;
    }
}

.arrow.wide .content  {
    align-items: unset !important;
}

.semester_num {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.semester_title {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.semester_signoff {
    font-size: .75rem;
    font-weight: 300;
}
@media (max-width: 767px) {
    .semester_title, .semester_signoff {
        font-size: 1rem;

    }
}