/***************************************************
Social 
***************************************************/



.social_view a {
    position: relative;
    top: 5px;
    margin-right: 10px;
    transition: all .3s ease-in-out
}

.social_view a:hover {
    top: 0px;
    opacity: .7;
    padding-bottom: 5px;
}

.program-text .social_view,
.campus_share .social_view,
.block-hero-01 .social_view {
    display: none;
}

.social_share_toggle {
    max-width: 87px;
}

/***************************************************
Leanirng Overview 
***************************************************/

.remote_learning_text {
    margin: 0;
    position: relative;
    margin-left: 60px;
}

.remote_learning_text::before {
    content: '';
    background-image: url('../../images/glion-remote-learning-icon.svg');
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
    left: -50px;
    top: 7px;
}

.remote_learning_text a {
    text-decoration: underline;
    color: var(--bronze);
    cursor: pointer;
}

.block-tabarea-01-programs.remote-learning-page .program_study_text {
    display: none;
}

.remote-learning-page .program-title h3 {
    padding-bottom: 34px;
}

@media(max-width: 768px) {
    .remote_learning_text::before {
        top: 0;
    }

    .remote_learning_text_program {
        font-size: unset;
    }
}

/***************************************************
Accordion Styles
***************************************************/

h2.accordion_title_black_text.program {
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-family: 'Roboto', sans-serif !important;
    padding: 1.8rem 4rem 1.8rem 3rem;
    margin-bottom: 0;
    font-weight: 500;
    cursor: pointer;
}

.accordion:nth-of-type(2n+1) h2.accordion_title_black_text.program{
    background: var(--grey);
    color: var(--black);
    opacity: .8;
}

.accordion:nth-of-type(2n+2) h2.accordion_title_black_text.program{
    background: var(--white);
    color: var(--black);
    opacity: .8;
}