
/***************************************************
Home Parallax
***************************************************/

.row.parallax-container {
  overflow: hidden;
  position: relative;
}
.row.parallax-container .d-block.d-lg-none{
  z-index: 1;
}
.row.parallax-container .counter{
  z-index: 2;
}
.counter .font{
  font-family: 'Playfair Display', serif;
}
.row img.mobile{
  min-width: 100%;
}
.parallaxParent {
  height: 100vh;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  width: auto;
  top: -100%;
}
.parallaxParent > div {
  left: -92vw;
  width: 194vw;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
.counter {
  position: absolute;

  font-size: 7rem;
  z-index: 5;
  width: 100%;
}
.counter.inner .col-md-6:first-child {
  border-right: 2px solid #E2E0DF
}
.counter.inner .col-md-6:first-child .row { 
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.counter.inner .col-md-6:first-child .row:first-child {
  border-bottom: 2px solid #E2E0DF
}
.counter.no-background { 
  position: relative;
  top: unset;
  /* color: var(--black); */
}
.counter p {
  text-transform: uppercase;
}
.counter h2 {
  font-size: 5rem;
  line-height: 6.68rem;
}
.content-inner .counter {
  font-size: 4rem;
}

@media (min-width: 768px) and (max-width: 991px) { 
  .counter {

   
      font-size: 5rem;

  }
  
}

@media (max-width: 767px) {
  .counter {
    font-size: 4rem;

}  
  .counter h2 {
      font-size: 30px;
      line-height: 40px;
  }
  .program-structure .content-inner .counter, .accordion .counter {
    font-size: 2.5rem;

}
  .counter p {
      margin-top: 0;
  }
  .parallaxParent {
      position: relative;
      height: unset;
  }
  .parallaxParent .overlay {
      z-index: 1;
  }
  .counter.inner .col-md-6:first-child {
      border-right: none
  }
  .counter.inner .col-md-6:first-child .row:first-child {
      border-bottom: none
  }
  .counter.inner .col-md-6:first-child .row { 
      padding-bottom: 0;
      padding-top: 0;
   }
  .counter.inner .col-12{ 
      margin-bottom: 1rem;
      padding-top: 0;
   }
}


/***************************************************
Inner Parallax
***************************************************/
.parallaxParent.inner {
  height: 50vh; 
}
.parallaxParent.inner img {
 min-width: 100%;
}

.careers .gatsby-image-wrapper {
  min-width: unset;
}