/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap'); */
/***************************************************
VARIABLES
***************************************************/
:root {
    --blue: #253645;
    --bronze: #9E785B;
    --white: #fff;
    --light-brown: #C1ABA5;
    --grey: #E2E0DF;
    --purple: #B4ADB9;  
    --beige: #F0D4C6;
    --black: #243646;
    --blue2021: #003ab4;
    --container: 1280px;
    --font-family-sans-serif: 'Roboto', sans-serif !important;
}

.ais-Highlight-highlighted {
    color: var(--bronze);
}

.square {
    width: 100%;
    height: 100%;
    padding-bottom: 50%;
}

/***************************************************
Blue Background Styles
***************************************************/
.blue-bg {
    background: var(--blue);
    color: var(--white)
}
.blue-bg a {
    color: var(--bronze);
    position: relative;
}
.blue-bg a:hover {
    color: var(--white);
    position: relative;
}
.blue-bg a:not(.btn-primary):hover:after {
    border-bottom: 1px solid var(--white)   !important;
}

.blue-bg  .btn-primary {
    background-color: var(--bronze);
    border-color: var(--bronze);
    color:var(--white);
}

.blue-bg  .btn-primary:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black)
}

.blue-bg .btn-primary:focus, .blue-bg  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--white);
    border-color: var(--white);
    box-shadow: 0 0 0 0.2rem var(--white);
    color: var(--black)
}


/***************************************************
Bronze Background Styles
***************************************************/
.bronze-bg {
    background: var(--bronze);
    color: var(--white)
}


.bronze-bg .btn-primary.blue:hover{
    color: var(--blue) !important;
    background: var(--white) !important;
 }
 
 

.bronze-bg a:not(.btn-primary) {
    color: var(--blue);
    position: relative;
}
.bronze-bg a:not(.btn-primary):hover {
    color: var(--white);
    position: relative;
}

.bronze-bg .btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);

}


.bronze-bg  .btn-primary:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black)
}

.bronze-bg .btn-primary:focus, .bronze-bg .btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--white);
    border-color: var(--white);
    box-shadow: 0 0 0 0.2rem var(--white);
    color: var(--black)
}

/***************************************************
Beige Background Styles
***************************************************/
.beige-bg {
    background: var(--beige);
    color: var(--black)
}

.beige-bg a {
    color: var(--bronze);
    position: relative;
}
.beige-bg a:hover {
    color: var(--blue);
    position: relative;
}

.beige-bg .btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white)
}


.beige-bg  .btn-primary:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--blue)
}

.beige-bg .btn-primary:focus, .beige-bg .btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--white);
    border-color: var(--white);
    box-shadow: 0 0 0 0.2rem var(--white);
    color: var(--blue)
}

/***************************************************
Grey Background Styles
***************************************************/
.grey-bg {
    background: var(--grey);
    color: var(--black)
}

.grey-bg a {
    color: var(--bronze);
    position: relative;
}
.grey-bg a:hover {
    color: var(--blue);
    position: relative;
}

.grey-bg .btn-primary {
    background-color: var(--bronze);
    border-color: var(--bronze);
    color: var(--white)
}


.grey-bg  .btn-primary:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--blue)
}

.grey-bg .btn-primary:focus, .grey-bg .btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--white);
    border-color: var(--white);
    box-shadow: 0 0 0 0.2rem var(--white);
    color: var(--blue)
}

.lavender-bg {
    background: var(--purple) !important;

}

/***************************************************
Coloured background underlines
***************************************************/
.blue-bg a:not(.btn-primary):not(.modal-hover):after,  .bronze-bg a:not(.btn-primary):not(.modal-hover):after, .beige-bg a:not(.btn-primary):not(.modal-hover):after, .grey-bg a:not(.btn-primary):not(.modal-hover):after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 1px solid var(--white);
    display: block;
    transition: width .2s ease-in-out;
}
.beige-bg a:not(.btn-primary):after, .grey-bg a:not(.btn-primary):after {
    border-bottom: 1px solid var(--blue);
}

.blue-bg a:not(.btn-primary):hover:after, .bronze-bg a:not(.btn-primary):hover:after, .beige-bg a:not(.btn-primary):hover:after, .grey-bg a:not(.btn-primary):hover:after {

    width: 100%;
}

/***************************************************
Colored Fonts
***************************************************/
.blue-text {
    color: var(--blue)
}

.bronze-text {
    color: var(--bronze)
}

.white-text {
    color: var(--white)
}

.black-text {
    color: var(--black)
}

.beige-text {
    color: var(--beige)
}



/***************************************************
Rems Media query
***************************************************/
html {
    font-size: 12px
}

@media (min-width: 767px){
    html {
        font-size: 14px
    }
}

@media (min-width: 991px){
    html {
        font-size: 16px
    }
}

/* @media (min-width: 1264px){
    html {
        font-size: 18px
    }
} */

/***************************************************
H Tags 
***************************************************/

h1, .about-us h2, .testimonial h2 {
    font-size: 5rem;
    line-height: 6.0rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.5rem;
    
}

h3 {
    font-size: 2.3rem;
    line-height: 3.5rem;
}

h4, .alumniPost h2 {
    font-size: 2rem;
    line-height: 3.3rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 2.6rem;
}

h6 {
    font-size: 1.3rem;
    line-height: 2.0rem;
}

p, #content ul:not(.structure_nav) li, #content ol li {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    margin: 1rem 0
}

.tab-pane.visit-campus p {
    font-size: 1.2rem !important;
    line-height: 2rem !important;
    font-weight: 300 !important;
    margin: 1rem 0 !important;
}


p strong {
    font-weight: 500;
}


h1, h2, h3, h4, h5, h6 {
    color: unset; 
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.5rem;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
    margin-top: 2rem;
}

.absolute {
    position: absolute;
    z-index: 20;
}


body {
    /* font-family: 'Roboto', sans-serif; */
    overflow-x: hidden;
}

body.fixed {
    overflow-y: hidden;
}

body.fixed .cookie_container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(000, 000, 000, .6);
    z-index: 100;
    height: 100% !important;
}




a { font-weight: bolder; }

@media (max-width: 767px) {

    h1, .about-us h2, .testimonial h2 {
        font-size: 3.75rem;
        line-height: 5rem;
    }
    h2, h3 {
        font-size: 2.5rem;
        line-height: 3.3rem;
    }

    h6 {
        font-size: 1.16rem !important;
        line-height: 1.66rem;
    }
    p, .accordion_text ul li {
        font-size: 1.41rem ;
        line-height: 1.66rem ;

    }
    .post-template-default .block-editorial-content-01 p, .post-template-default .program-text p, .post-template-default #content ul:not(.structure_nav) li, .post-template-default #content ol li {
        font-size: 1.1rem;
        line-height: 1.45rem;
        font-weight: 300;
        margin: 1rem 0;
    }
}

/***************************************************
Buttons
***************************************************/


.btn-primary {
    border-radius: 0;
    padding: .8rem 1.6rem;
    margin: .8rem 0;

    text-transform: uppercase;
}
.btn-primary.blue, .btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);

}

.btn-primary.blue:hover{
    color:var(--white) ;
    background-color: var(--bronze);
    border-color: var(--bronze);
    
}
.btn-primary:hover {
    color:var(--blue) ;
    background-color: var(--white);
    border-color: var(--white);
    
}


/* .btn-primary.blue:focus, .btn-primary:focus, .btn-primary.blue:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    color:var(--white);
    background-color: var(--bronze);
    border-color: var(--bronze);
    box-shadow: 0 0 0 0.2rem var(--bronze)
} */


.btn-primary.bronze {
    background-color: var(--bronze);
    border-color: var(--bronze);
    color:var(--white);
}

.btn-primary.bronze:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white) !important;
}

.btn-primary.bronze:focus, .btn-primary.bronze:not(:disabled):not(.disabled):active {
    background-color: var(--blue);
    border-color: var(--blue);
    box-shadow: 0 0 0 0.2rem var(--blue)
}

.btn-primary.beige {
    background-color: var(--beige);
    border-color: var(--beige);
    color:var(--black);
}

.btn-primary.beige:hover {
    background-color: var(--grey);
    border-color: var(--grey);
  
}
.btn-primary.beige:focus, .btn-primary.beige:not(:disabled):not(.disabled):active {
    box-shadow: 0 0 0 0.2rem var(--grey);
    background-color: var(--grey);
    border-color: var(--grey);
}

.btn-primary.grey {
    background-color: var(--grey);
    border-color: var(--grey);
    color:var(--black);
}

.btn-primary.grey:hover {
    background-color: var(--beige);
    border-color: var(--beige);
  
}
.btn-primary.grey:focus, .btn-primary.grey:not(:disabled):not(.disabled):active {
    box-shadow: 0 0 0 0.2rem var(--beige);
    background-color: var(--beige);
    border-color: var(--beige);
    color: var(--black);
}

.btn-primary.transparent {
    background-color: transparent;
    border-color: var(--black);
    color:var(--black);
}

.btn-primary.transparent:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color:var(--white);
}


a {
    color: var(--blue)
}
a:hover {
    text-decoration: none;
    color: var(--bronze)
}


/* img {
    max-width: 100%;
} */

.line-after { 
    margin-bottom: 150px;
    position: relative;
}

.line-after:after {
    content:"";
    position: absolute;
    width: 2px;
    height: 110px;
    display: block;
    left: calc(50% - 1px) ;
    background: #243646;
    top: 100%;
}

/* .row.line-after:last-of-type::after {
    display: none;
} */

.block-editorial-content-01 img {
    /* min-width: 100%; */
}

.block-editorial-content-01 a {
    text-decoration: underline;
}

.block-editorial-content-01 .col-md-3 img {
    min-width: 100%;
}
.block-editorial-content-01 .col-md-3 h2, .block-editorial-content-01 .col-md-4  h2 {
    font-size: 1.525rem;
    line-height: 1.5rem;
}

.block-editorial-content-01 .accordion:last-child { 
    margin-bottom: 50px!important;
}

.scrollElementFixed {
    opacity: 1!important;
    transform: translate(0px, 0px)!important;
}

/***************************************************
Container
***************************************************/
#content  { 
    margin-bottom: 5rem;
}

#content > .container-fluid {
    margin-top: 135px;
    overflow: hidden;
} 

.container-fluid:after {

background: #fff;
left: 0;
right: 0;
top: 0;
margin-top: 135px;
bottom: 0;
z-index: 1;
content: '';
position: absolute;
transform-origin: 100% 0; 
}

.video, video{ 
    max-width: 100%;
    height: auto
}

#content.scroll:after {
bottom: 100%;
} 


@media (min-width: 1200px){
.container {
    /* max-width: 1440px; */
    /* max-width: var(--container) */
}
}
@media (max-width: 767px){
#content > .container-fluid{ 
    margin-top: 70px
}
.container-fluid:after {

    margin-top: 70px;

  }
.container { 
    max-width: 100%;
}
}

iframe {
    max-width: 100%;
    /* height: auto; */
}

/***************************************************
Gatsby Image Wrapper
***************************************************/

.gatsby-image-wrapper {
    /* min-width: 100%; */
    height: 100%;
}
.blogPost .gatsby-image-wrapper {
    /* min-width: 100%; */
    height: unset !important;
}
.rep .gatsby-image-wrapper, .intro-glion .gatsby-image-wrapper {
    /* min-width: 100%; */
    height: unset;
}
.accordion  .gatsby-image-wrapper  {
    max-width: 100% !important;
    height: auto;
}
.rep .gatsby-image-wrapper, .accordion  .gatsby-image-wrapper  {
    /* min-width: 100%; */
    height: unset;
}
/* .white-bg .col-md-9 .gatsby-image-wrapper {
    min-width: 100%;
} */

.white-bg .col-md-9 .wp-image-3542.gatsby-image-wrapper, .white-bg .col-md-9 .wp-image-12351.gatsby-image-wrapper, .white-bg .col-md-9 .wp-image-4115.gatsby-image-wrapper  {
    min-width: unset;
}

.gatsby-image-wrapper img {
    /* min-width: 100%; */
    /* height: unset !important; */
}
.splide .gatsby-image-wrapper img {
 height: unset !important;
}
.content-inner .gatsby-image-wrapper{
    min-width: 100%;
    height: unset;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

/***************************************************
CUSTOM VIDEO Modal
***************************************************/

.video-container,  .modal-dialog , .video-container, .white-bg  h2 {
    color: var(--blue)
}


a.modal-hover:hover {
    opacity: .8;
    text-decoration: none;
}
a.modal-hover{
    min-width: 100%;
}
.video-modal-popop {
    /* background-color: var(--light-pink); */
}


.video-modal-popop h2, .ext-link-modal-popop h2 {
    font-size: 3rem;
    line-height: 4rem;

    text-align: center;
}
.video-image {
    display: block;
    align-items: center;
    justify-content: center;
    /* max-height: 170px !important; */
}
.video-image img {
    height: auto;
    max-width: 100%;

}
.playBTN {
    clip-path: polygon(70% 48%, 0 0, 0 100%);
    background: #fff;
    height: 51px;
    width: 60px;
    margin: auto;
    position: absolute;
    display: block;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 10;
}
.video_id {
    max-width: 100%;
    /* min-height: 600px; */
}



#videosModals .col-md-4 { 

    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;

}
#videosModals .col-md-3 { 



    flex: 0 0 27.3%;
    max-width: 27.3%;


}

#videosModals .modal {
    background: rgba(000, 000, 000 , 0.8)
}
#videosModals .modal-dialog {
    top: 10%;
    width: 700px;
    max-width: 100%;
}
#videosModals .marketo-line {
    /* height: 5px;
    background: var(--bronze); */
}
#videosModals .close span {
    float: right;

    margin-top: 10px;
    margin-right: 25px;
}
#videosModals .title-text  {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}
#videosModals .video-content .modal-title  {
    font-size: 2rem;
    margin-bottom: 2rem;
}
#videosModals .sub-title  {
    font-size: 1rem;
    margin-bottom: 1rem;
}
#videosModals .card  {
   height: 100%;
}

/***************************************************
CUSTOM EXTERNAL LINKS
***************************************************/

.ext-link-modal-popop {
    /* background-color: var(--light-grey-blue); */
}

.ext-link-modal-popop h2 { 
    /* color: #fff; */
    font-size: 2.1875rem;
}

#gallery-load-more {
text-align: center;

}

a.modal-hover:hover .title-text, a.modal-hover:hover .short-text, a.modal-hover:hover .publication-text {
    color: #000;
    text-decoration: none;
}
a.modal-hover:hover .title-text, a.modal-hover:hover .short-text, a.modal-hover:hover .publication-text {
    color: #000;
    text-decoration: none;
}
 a.modal-hover .short-text span, a.modal-hover .publication-text span {
    color: var(--blue);
}

.ext-link-modal-popop #videosModals .title-text {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
    color: var(--bronze);
}
@media (max-width: 767px) {
    .video_id {
        max-width: 100%;
        min-height: unset;
    }
#videosModals .col-md-4, #videosModals .col-md-3 { 
    flex: 0 0 100%;
    max-width: 100%;

}
#videosModals .video-image {
    max-height: unset !important;
}

}
@media (max-width: 575px) {
    .playBTN {

        height: 41px;
        width: 50px;
    }
    .video-container  {
    padding-left: 15px; 
    }
    .video-container .col-6 {
        padding:  0
    }

}

.team-course.mb-4 {
    pointer-events: none;
    
} 

.team-course.mb-4 a {
   color: #000
    
} 

#externalLinks.ice_blue_background {
    background: var(--ice-blue);
}

#externalLinks.ice_blue_background .card {

    background-color: none; 
    background: var(--ice-blue);
}


.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rcc-confirm-button {
    background-color: transparent !important;
    border-color: var(--white) !important;
    color: var(--white) !important;
    border: 1px solid white !important;
    padding: 10px 35px !important;
    margin-top: 15px;
    font-size: 12px !important;
}

.accordion_text img {
    max-width: 100%;
    /* object-fit: none !important; */
}

.wonderplugin-video iframe {
    height: 100%
}

.carousel-indicators li { 
    margin-right: 3px !important
}

.wp-block-table {
    overflow-x: auto;
    width: 75%;
    margin: 100px auto;
}
@media (max-width: 767px) { 
    .wp-block-table {
        overflow-x: auto;
        width: 100%;
        margin: 30px auto;
    }
    figure, .post-template-default figure .gatsby-image-wrapper  {
        width: 100% !important;
        margin-bottom: 20px;
    }
}
.wp-block-table table {
    width: 100%;
}

.wp-caption .wp-caption-text {
    font-size: 0.688rem;
    line-height: 1.063rem;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
    display: block;
    background: #f1f1f1 none repeat scroll 0 0;
 
}
@media (max-width: 767px) {
    .wp-caption .wp-caption-text {
        margin-top: -20px
    }
}


.manage_cookies {
    align-items: baseline; background: rgb(158, 120, 91); color: white; display: flex; flex-wrap: wrap; justify-content: space-between; right: 0 ;     padding: 10px 20px; position: fixed; width: auto; z-index: 999; bottom: 0px;
}

#exampleModal2233 .custom-switch {
    top: 58px;
    left: 10px;
    z-index: 1000;
    width: 100px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--bronze);
    background-color:var(--bronze);
}
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color:rgba(158,120,91, .4);
}

.close {
    z-index: 10;
}

.CookieConsent {
    align-items: baseline;
    background: rgb(158, 120, 91);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* left: 0px; */
    top: 30%;
    bottom: auto;
    /* left: 20%; */
    width: 50%;
    min-width: 300px;
    right: auto;
    position: fixed;
    /* width: 100%; */
    z-index: 999;
    /* bottom: 0px; */
}

.small_br {
    display: none;
}
@media (max-width: 767px) { 
    .small_br {
        display: block;
    }
    #exampleModal2233 .custom-switch {
        top: 38px;
        left: 10px;
        z-index: 1000;
        width: 100px;
    }
    #CookieConsent .container {
        display: inline-block ;
    }
    .CookieConsent{
        left: 0%;
        width: 100%;
    }
    #rcc-confirm-button {
        /* position: absolute; */
        background-color: transparent !important;
        border-color: var(--white) !important;
        color: var(--white) !important;
        border: 1px solid white !important;
        padding: 2px 10px !important;
        margin-top: 15px;
        font-size: 12px !important;
        bottom: -5px;
        right: 50px;
    }
    
}

.block-editorial-content-01  .white-bg .col-12 img {
    max-width: 100%;
    height: auto;
}